<!-- Thumbnail -->
<div class="chart-thumb" [class.clickable]="!hideDropdown" (click)="!hideDropdown && openModal()">
  <canvas baseChart [width]="chartSize" [height]="chartSize"
    [datasets]="polarAreaChartDatasets" [labels]="polarAreaChartLabels"
    [legend]="polarAreaLegend" [options]="polarAreaOptions" [type]="'polarArea'"></canvas>
  <div *ngIf="!hideDropdown" class="thumb-hint">Click to configure</div>
</div>

<!-- Modal -->
<app-chart-config-modal *ngIf="modalOpen"
  heading="Configure Polar Area Chart"
  [columns]="columns"
  [(column1)]="column1"
  [(column2)]="column2"
  [(sortType)]="sortType"
  [(trimRecords)]="trimRecords"
  [(chartTitle)]="chartTitle"
  [hasAxisLabels]="false"
  [hasLegend]="true"
  [(showLegend)]="showLegendFlag"
  (closed)="closeModal()"
  (configChanged)="rebuildChart()"
>
  <canvas preview baseChart width="420" height="380"
    [datasets]="polarAreaChartDatasets" [labels]="polarAreaChartLabels"
    [legend]="polarAreaLegend" [options]="polarAreaOptions" [type]="'polarArea'"></canvas>
</app-chart-config-modal>