<div nz-row>
  <div nz-col nzSpan="4">
     <ul nz-menu nzMode="inline">
      <li nz-submenu nzTitle="Data" nzIcon="mail" nzOpen>
        <ul>
          <li nz-menu-item>View raw data</li>
        </ul> 
      </li>
      <li nz-submenu nzTitle="Graphs" nzIcon="appstore">
        <ul>
          <li nz-menu-item (click)="onClickChart('line')">Line chart</li>
          <li nz-menu-item (click)="onClickChart('pie')">Pie chart</li>
          <li nz-menu-item (click)="onClickChart('bar')">Bar chart</li>
          <li nz-menu-item (click)="onClickChart('doughnut')">Doughnut chart</li>
          <li nz-menu-item (click)="onClickChart('polar')">Polar area chart</li>
          <li nz-menu-item (click)="onClickChart('scatter')">Scatter chart</li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Download" nzIcon="setting">
        <ul>
          <li nz-menu-item>To PDF</li>
          
        </ul>
      </li>
    </ul>
  </div>
  <div nz-col nzSpan="20" style="padding: 0rem 3rem;" nzJustify="space-around">
    <div nz-row>
      <div *ngFor="let chart of displayCharts" nz-col nzSpan="8" style="margin-top: 2.5rem;">
        <div *ngIf="chart == 'line'">
          <app-line-chart></app-line-chart>
        </div>
        <div *ngIf="chart == 'pie'">
          <app-pie-chart></app-pie-chart>
        </div>
        <div *ngIf="chart == 'bar'">
          <app-bar-chart></app-bar-chart>
        </div>
        <div *ngIf="chart == 'doughnut'">
          <app-doughnut-chart></app-doughnut-chart>
        </div>
        <div *ngIf="chart == 'polar'">
          <app-polar-area-chart></app-polar-area-chart>
        </div>
        <div *ngIf="chart == 'scatter'">
          <app-scatter-chart></app-scatter-chart>
        </div>
      </div>
    </div>   
  </div>
</div>
