<!-- Line chart extra style controls -->
<ng-template #lineExtraControls>
  <div class="ctrl-field ctrl-field-row">
    <span class="ctrl-field-label">Line Color</span>
    <input type="color" [(ngModel)]="lineColor" (ngModelChange)="rebuildChart()" class="ctrl-color">
  </div>
  <div class="ctrl-field ctrl-field-row">
    <span class="ctrl-field-label">Show Data Points</span>
    <label class="ctrl-toggle">
      <input type="checkbox" [(ngModel)]="showDataPoints" (ngModelChange)="rebuildChart()">
      <span class="toggle-track"><span class="toggle-thumb"></span></span>
    </label>
  </div>
  <div class="ctrl-field ctrl-field-row">
    <span class="ctrl-field-label">Fill Area</span>
    <label class="ctrl-toggle">
      <input type="checkbox" [(ngModel)]="fillArea" (ngModelChange)="rebuildChart()">
      <span class="toggle-track"><span class="toggle-thumb"></span></span>
    </label>
  </div>
</ng-template>

<!-- Thumbnail -->
<div class="chart-thumb chart-thumb--responsive" [class.clickable]="!hideDropdown" (click)="!hideDropdown && openModal()" [style.height.px]="resolvedChartHeight">
  <canvas baseChart
    [type]="'line'" [data]="lineChartData" [options]="lineChartOptions"
    [legend]="lineChartLegend"></canvas>
  <div *ngIf="!hideDropdown" class="thumb-hint">Click to configure</div>
</div>

<!-- Modal -->
<app-chart-config-modal *ngIf="modalOpen"
  heading="Configure Line Chart"
  [columns]="columns"
  col1Label="X-Axis Column"
  col2Label="Y-Axis Column"
  col1Placeholder="Select X-Axis"
  col2Placeholder="Select Y-Axis"
  [(column1)]="selectedCol1"
  [(column2)]="selectedCol2"
  [(sortType)]="sortType"
  [(trimRecords)]="trimRecords"
  [(chartTitle)]="chartTitle"
  [hasAxisLabels]="true"
  [(xAxisLabel)]="xAxisLabel"
  [(yAxisLabel)]="yAxisLabel"
  [hasLegend]="true"
  [(showLegend)]="showLegend"
  [extraControlsTemplate]="lineExtraControls"
  (closed)="closeModal()"
  (configChanged)="rebuildChart()"
>
  <canvas preview baseChart width="520" height="380"
    [type]="'line'" [data]="lineChartData" [options]="lineChartOptions"
    [legend]="lineChartLegend"></canvas>
</app-chart-config-modal>
