<div *ngIf="hideDropdown == false">
<select (change)="onSelectColumn($event, 0)"
  [(ngModel)]="selectedCol1"
>
  <option [value]="-1">Select X-Axis</option>
  <option *ngFor="let col of columns; let i = index" [value]="i">
    {{ col }}
  </option>
</select>
<select
  (change)="onSelectColumn($event, 1)"
  [(ngModel)]="selectedCol2"
>
  <option [value]="-1">Select Y-Axis</option>
  <option *ngFor="let col of columns; let i = index" [value]="i">
    {{ col }}
  </option>
</select>
<select (change)="onSelectColumn($event, 2)" [(ngModel)]="sortType">
  <option [value]="0" selected>Select Sort Type</option>
  <option [value]="1">Ascending</option>
  <option [value]="-1">Descending</option>
</select>
</div>
<canvas
  baseChart
  [width]="chartSize"
  [height]="chartSize"
  [type]="'line'"
  [data]="lineChartData"
  [options]="lineChartOptions"
  [legend]="lineChartLegend"
>
</canvas>
