<!-- Thumbnail -->
<div class="chart-thumb" [class.clickable]="!hideDropdown" (click)="!hideDropdown && openModal()">
  <canvas baseChart [width]="chartSize" [height]="chartSize"
    [type]="'pie'" [datasets]="pieChartDatasets" [labels]="pieChartLabels"
    [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend"></canvas>
  <div *ngIf="!hideDropdown" class="thumb-hint">Click to configure</div>
</div>

<!-- Modal -->
<app-chart-config-modal *ngIf="modalOpen"
  heading="Configure Pie Chart"
  [columns]="columns"
  [(column1)]="column1"
  [(column2)]="column2"
  [(sortType)]="sortType"
  [(trimRecords)]="trimRecords"
  [(chartTitle)]="chartTitle"
  [hasAxisLabels]="false"
  [hasLegend]="true"
  [(showLegend)]="showLegend"
  (closed)="closeModal()"
  (configChanged)="rebuildChart()"
>
  <canvas preview baseChart width="420" height="380"
    [type]="'pie'" [datasets]="pieChartDatasets" [labels]="pieChartLabels"
    [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend"></canvas>
</app-chart-config-modal>
