<select (change)="onChangeSelectColumn($event, 0)" [(ngModel)]="column1">
        <option [value]="-1"> Select X-Axis </option>
        <option *ngFor="let col of columns; let i = index" [value]="i">{{ col }}</option>
</select>
      
<select (change)="onChangeSelectColumn($event, 1)" [(ngModel)]="column2">
        <option [value]="-1"> Select Y-Axis </option>
        <option *ngFor="let col of columns; let i = index" [value]="i">{{ col }}</option>
</select>
<canvas baseChart [height]="chartSize" [width]="chartSize"
        [datasets]="polarAreaChartDatasets"
        [labels]="polarAreaChartLabels"
        [legend]="polarAreaLegend"
        [options]="polarAreaOptions"
        [type]="'polarArea'">
</canvas>