<!-- Thumbnail -->
<div class="chart-thumb chart-thumb--responsive-square" [class.clickable]="!hideDropdown" (click)="!hideDropdown && openModal()" [style.height.px]="resolvedChartHeight">
  <div class="chart-thumb-square" [style.max-width.px]="resolvedChartHeight">
    <canvas baseChart
      [labels]="doughnutChartLabels" [datasets]="doughnutChartDatasets"
      [options]="doughnutChartOptions" [legend]="showLegend" [type]="'doughnut'"></canvas>
  </div>
  <div *ngIf="!hideDropdown" class="thumb-hint">Click to configure</div>
</div>

<!-- Modal -->
<app-chart-config-modal *ngIf="modalOpen"
  heading="Configure Doughnut Chart"
  [columns]="columns"
  [(column1)]="column1"
  [(column2)]="column2"
  [(sortType)]="sortType"
  [(trimRecords)]="trimRecords"
  [(chartTitle)]="chartTitle"
  [hasAxisLabels]="false"
  [hasLegend]="true"
  [(showLegend)]="showLegend"
  (closed)="closeModal()"
  (configChanged)="rebuildChart()"
>
  <canvas preview baseChart width="420" height="380"
    [labels]="doughnutChartLabels" [datasets]="doughnutChartDatasets"
    [options]="doughnutChartOptions" [legend]="showLegend" [type]="'doughnut'"></canvas>
</app-chart-config-modal>
