<!-- Bar chart extra style controls -->
<ng-template #barExtraControls>
  <div class="ctrl-field ctrl-field-row">
    <span class="ctrl-field-label">Bar Color</span>
    <input type="color" [(ngModel)]="barColor" (ngModelChange)="rebuildChart()" class="ctrl-color">
  </div>
</ng-template>

<!-- Thumbnail -->
<div class="chart-thumb" [class.clickable]="!hideDropdown" (click)="!hideDropdown && openModal()">
  <canvas baseChart [width]="chartSize" [height]="chartSize"
    [data]="barChartData" [options]="barChartOptions" [plugins]="barChartPlugins"
    [legend]="barChartLegend" [type]="'bar'"></canvas>
  <div *ngIf="!hideDropdown" class="thumb-hint">Click to configure</div>
</div>

<!-- Modal -->
<app-chart-config-modal *ngIf="modalOpen"
  heading="Configure Bar Chart"
  [columns]="columns"
  [(column1)]="column1"
  [(column2)]="column2"
  [(sortType)]="sortType"
  [(trimRecords)]="trimRecords"
  [(chartTitle)]="chartTitle"
  [hasAxisLabels]="true"
  [(xAxisLabel)]="xAxisLabel"
  [(yAxisLabel)]="yAxisLabel"
  [hasLegend]="true"
  [(showLegend)]="showLegend"
  [extraControlsTemplate]="barExtraControls"
  (closed)="closeModal()"
  (configChanged)="rebuildChart()"
>
  <canvas preview baseChart width="520" height="380"
    [data]="barChartData" [options]="barChartOptions" [plugins]="barChartPlugins"
    [legend]="barChartLegend" [type]="'bar'"></canvas>
</app-chart-config-modal>
